<section class="posts">

  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <%= simple_format truncate post.body %>
      <p>Posted <%= time_ago_in_words post.created_at %> ago</p>
    </div>
  <% end %>
  
</section>
